.DS_Store
*.bbl
*.aux
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.gz
.DS_Store
*.brf
auto/
*~
/newbiemacs/newbiemacs_cheat_sheet_vim.tex
/newbiemacs/newbiemacs_cheat_sheet_windows.tex
/newbiemacs/newbiemacs_cheat_sheet_emacs.tex
